[submodule "external/heimdall_daq_fw"]
	path = external/heimdall_daq_fw
	url = https://github.com/krakenrf/heimdall_daq_fw.git
	shallow = true
        ignore = dirty
	shallow = true

[submodule "external/gr-iridium"]
	path = external/gr-iridium
	url = https://github.com/muccc/gr-iridium.git
	shallow = true
